@font-face {
	font-family: 'Linux Libertine';
	font-style: normal;
	font-weight: 300;
	src:
		local('Linux Libertine Regular'),
		url('{{ SITEURL }}/{{ THEME_STATIC_DIR }}/fonts/LinLibertine_Rah.ttf') format('ttf');
}
